body {
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 0 0 4.5rem;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

h3 {
    font-weight: 300;
}

p {
    font-size: 18px;
}

/* Navbar */

.fixed-top {
    padding: 1rem 5rem 1rem;
}

.nav-item {
    margin: 0 auto;
    text-align: center;
}

.nav-item a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 0px 10px;
    position: relative;
    z-index: 0;
}

.topBottomBordersOut a:before,
.topBottomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.topBottomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}

.topBottomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.topBottomBordersOut a:hover:before,
.topBottomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

.scrolled {
    background-color: rgb(156, 211, 165) !important;
    transition: background-color 200ms linear;
}

.navbar.navbar-brand:hover {
    color: rgb(219, 0, 0);
}

/* Main Header */
#head {
    padding: 5% 15% 7%;
    background-color: rgb(111, 177, 133);
}

#title-text {
    padding: 10% 0 0%;
}

#headshot-img img {
    height: auto;
    width: 25vh;
    padding: 5% 0 0;
}

/* Bio Section */

#short-bio {
    padding: 5% 0%;
}

.bio {
    padding: 0 20% 0 20%;
}

@media (max-width: 1015px) {
    .bio {
        padding: 0 15% 0 15%;
    }
}

@media (max-width: 770px) {
    .bio {
        padding: 15px;
    }

    .fixed-top {
        padding: 1rem 1rem 4.5rem;
    }
}

/* .left-list {
    padding-left: 35%;
}

@media (max-width: 1015px) {
    .left-list {
        padding-left: 15%;
    }
}

@media (max-width: 770px) {
    .left-list {
        padding-left: 15px;
    }
} */